<nav class="bottom-nav">

    <a
        routerLink="/home"
        routerLinkActive="active"
        class="nav-item"
    >
        <svg viewBox="0 0 24 24">
            <path
                d="M3 10.5 12 3l9 7.5V21a1 1 0 0 1-1 1h-5v-7H9v7H4a1 1 0 0 1-1-1z"
            />
        </svg>

        <span>Home</span>
    </a>


    <a
        routerLink="/workout"
        routerLinkActive="active"
        class="nav-item"
    >
        <svg viewBox="0 0 24 24">
            <path
                d="M6 7v10M3 9v6M18 7v10M21 9v6M6 12h12"
            />
        </svg>

        <span>Workout</span>
    </a>


    <a
        routerLink="/running"
        routerLinkActive="active"
        class="nav-item"
    >
        <svg viewBox="0 0 24 24">
            <circle
                cx="14"
                cy="4"
                r="2"
            />

            <path
                d="m10 9 3-2 2 3 3 1M13 7l-2 6-4 3M11 13l4 3 2 5"
            />
        </svg>

        <span>Run</span>
    </a>


    <a
        routerLink="/nutrition"
        routerLinkActive="active"
        class="nav-item"
    >
        <svg viewBox="0 0 24 24">
            <path
                d="M7 3v8M4 3v5a3 3 0 0 0 6 0V3M7 11v10M17 3v18M17 3c-2 2-3 5-3 8h3"
            />
        </svg>

        <span>Nutrition</span>
    </a>


    <a
        routerLink="/progress"
        routerLinkActive="active"
        class="nav-item"
    >
        <svg viewBox="0 0 24 24">
            <path
                d="M4 19V9M10 19V5M16 19v-7M22 19V3"
            />
        </svg>

        <span>Progress</span>
    </a>

</nav>